<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/output.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body class="bg-white">
    <div>
    <nav class="bg-green-400 shadow-md">
    <div class="max-w-7xl mx-auto px-12 sm:px-12 lg:px-16">
      <div class="flex justify-between h-28">
        <div class="flex items-center gap-4">
            <img src="../static/img/favicon.ico" alt=""> 
          <a href="#" class="text-3xl font-bold text-white">Declan Staunton</a>
        </div>

        <!-- Desktop Menu -->
        <div class="hidden md:flex items-center space-x-8">
            {% for item in menu %}
                <a href="{{ item.url }}" class="text-white hover:text-black font-bold text-xl">{{ item.name }}</a>
            {% endfor %}
        </div>
      </div>
    </div>
    </nav>
    </div>

<body class="min-h-screen flex flex-col bg-gray-50">

    <!-- Main Content -->
    <main class="px-4 py-20 space-y-20 items-center flex flex-col">  
        {% for item in hobby %}
        <!-- Card 1 -->
        <div class="bg-white border-8 border-gray-900 rounded-xl shadow-md p-6 w-1/2 h-[400px] flex">
            <div class="flex flex-col w-1/2">
                <h1 class="text-4xl text-green-400 font-extrabold mb-2 animate-fade-in-up">{{ item.name }}</h1>
                <h2 class="text-3xl text-green-400 font-extrabold mb-2 animate-fade-in-up">Duration: {{ item.duration }}</h2>
                <p class="text-gray-700 font-bold text-3xl animate-fade-in-up">Description: {{ item.description }}</p>
            </div>
            <div class="px-4 flex w-1/2 items-center justify-center">
                <img src="{{ item.img }}" alt="Image" class="w-[300px] h-5/6 rounded-full border-4 border-gray-900 animate-fade-down">
            </div>
        </div>
        {% endfor %}
    </main>

  <!-- Sticky Footer -->
  <footer class = "flex-grow">
    <!-- contact section -->
    <div class="bg-gray-900 h-32 flex flex-col justify-center w-screen items-center top-[100vh]">
        <h1 class="font-extrabold text-white text-2xl">Feel free to reach out here: </h1>
        <a href="dstaunton@tamu.edu" class="font-extrabold text-white text-2xl"> dstaunton@tamu.edu</a>
    </div>
  </footer>

</body>
</html>