<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link lang='sass' rel="stylesheet" href="./static/styles/output.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <div>
    <nav class="bg-green-400 shadow-md">
    <div class="max-w-7xl mx-auto px-8 sm:px-12 lg:px-16">
      <div class="flex justify-between h-20">
        <div class="flex items-center">
          <a href="#" class="text-xl font-bold text-white-800">Declan Staunton</a>
        </div>

        <!-- Desktop Menu -->
        <div class="hidden md:flex items-center space-x-4">
          <a href="#" class="text-white hover:text-black">About Me</a>
          <a href="#" class="text-white hover:text-black">Hobbies</a>
          <a href="#" class="text-white hover:text-black">Experience</a>
          <a href="#" class="text-white hover:text-black">Where I've Been</a>
        </div>
      </div>
    </div>
    </nav>
    </div>

    <div class="flex items-center bg-white h-[800px] gap-x">
        <!-- Text Section -->
        <div class="px-4 w-1/2 justify-items-center">
            <h2 class="text-2xl font-bold mb-2">Welcome to Our Site</h2>
            <p class="text-gray-600">We provide high-quality services tailored to your needs. Explore our offerings and get in touch with us for more details.</p>
        </div>

        <!-- Image Section -->
        <div class="px-4 flex-grow items-center">
            <img src="../static/img/logo.jpg" alt="Image" class="w-full h-auto rounded-lg object-cover h-[400px] align-baseline">
        </div>
    </div>

    <div class="flex bg-green-400"><div class="about_me">lorem Ipsum</div></div>
    <div class="flex bg-white"><div class="hobbies">lorem Ipsum</div></div>
    <div class="flex bg-green-400"><div class="experience">lorem Ipsum</div></div>
    <div class="flex bg-white"><div class="where">lorem Ipsum</div></div>
</body>
</html>